.container {
  max-inline-size: 540px;
  padding-inline: var(--spacer-base);
  margin-inline: auto;
  
  @media all and (min-width: 576px) {
    max-inline-size: 720px;
  }
  
  @media all and (min-width: 768px) {
    max-inline-size: 960px;
  }
}
