/* some comment */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 1em;
  margin-block-end: .25em;
  font-weight: 700;
  line-height: $line-height-sm;
}


h1 {
  font-size: $type-scale-up-3;
}

h2 {
  font-size: $type-scale-up-2;
}
  
h3,
h4,
h5,
h6 {
  font-size: $type-scale-up-1;
}

p {
  margin-block-start: 0;
  margin-block-end: 1em;
  font-size: $type-scale-base;
}

ul,
ol,
dl {
  margin-block-start: 0;
  margin-block-end: 1em;
}

ul li,
ol li {
  margin-inline-start: $spacer-base;
}

dt {
  font-weight: bolder;
}

dd {
  margin-inline: 0;
  margin-block-end: .5em;
}

hr {
  position: relative;
  margin-block: $spacer-base;
  border: 0;
  border-block-start: 1px solid $border-1;
}

abbr {
  font-size: 90%;
  color: inherit;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-block-end: 1px dotted $border-1;
  }
}

figure {
  margin-inline: 0;
  margin-block-end: $spacer-base;
}

blockquote {
  padding-inline-start: 1em;
  margin-inline: 0;
  color: $ink-2;
  border-inline-start: .25em solid $border-2;
  
  p:last-child {
    margin-block-end: 0;
  }
}





  
  
