/* some comment */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 1em;
  margin-block-end: .25em;
  font-weight: 700;
  line-height: var(--line-height-sm);
}


h1 {
  font-size: var(--type-scale-up-3);
}

h2 {
  font-size: var(--type-scale-up-2);
}
  
h3,
h4,
h5,
h6 {
  font-size: var(--type-scale-up-1);
}

p {
  margin-block-start: 0;
  margin-block-end: 1em;
  font-size: var(--type-scale-base);
}

ul,
ol,
dl {
  margin-block-start: 0;
  margin-block-end: 1em;
}

dt {
  font-weight: bolder;
}

dd {
  margin-inline: 0;
  margin-block-end: .75rem;
}

hr {
  position: relative;
  margin-block: var(--spacer-1);
  border: 0;
  border-block-start: 1px solid red;
}

abbr {
  font-size: 90%;
  color: inherit;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-block-end: 1px dotted var(--border-1);
  }
}

blockquote {
  padding-inline-start: 1em;
  margin-inline: 0;
  color: red;
  border-inline-start: .25em solid var(--border-2);
  
  p:last-child {
    margin-block-end: 0;
  }
}





  
  
