// some comment

$bg-light-1: hsl(0, 0%, 91.37%);
$bg-light-2: hsl(0, 0%, 73.73%);
$bg-light-3: hsl(0, 0%, 56.47%);
$ink-on-light-1: hsl(0, 0%, 5.1%);
$ink-on-light-2: hsl(0, 0%, 7.84%);
$ink-on-light-3: hsl(0, 0%, 10.2%);
$border-light-1: hsl(0, 0%, 35.29%);
$border-light-2: hsl(0, 0%, 27.84%);
$border-light-3: hsl(0, 0%, 20.39%);

$bg-1: $bg-light-1;
$bg-2: $bg-light-2;
$bg-3: $bg-light-3;
$ink-1: $ink-on-light-1;
$ink-2: $ink-on-light-2;
$ink-3: $ink-on-light-3;
$border-1: $border-on-light-1;
$border-2: $border-on-light-2;
$border-3: $border-on-light-3;

$line-height-base: 1.5;
$line-height-sm: 1.25;
  
$type-scale-down-1: .9em;
$type-scale-base: 1em;
$type-scale-up-1: 1.25em;
$type-scale-up-2: 1.5em;
$type-scale-up-3: 1.8em;
  
$spacer-base: 1em;
$spacer-1: calc($spacer-base) * 1.5);
$spacer-2: calc($spacer-base) * 2);
$spacer-3: calc($spacer-base) * 3);
  
$breakpoint-md: 560px;
$breakpoint-lg: 990px;


/* 
:root {
  --bg-light-1: hsl(0, 0%, 91.37%);
  --bg-light-2: hsl(0, 0%, 73.73%);
  --bg-light-3: hsl(0, 0%, 56.47%);
  --ink-on-light-1: hsl(0, 0%, 5.1%);
  --ink-on-light-2: hsl(0, 0%, 7.84%);
  --ink-on-light-3: hsl(0, 0%, 10.2%);
  --border-light-1: hsl(0, 0%, 35.29%);
  --border-light-2: hsl(0, 0%, 27.84%);
  --border-light-3: hsl(0, 0%, 20.39%);
  
  --bg-info-on-light:
  --bg-success-on-light:
  --bg-warning-on-light:
  --bg-danger-on-light:
  --ink-info-on-light:
  --ink-success-on-light:
  --ink-warning-on-light:
  --ink-danger-on-light:
  --border-info-on-light:
  --border-success-on-light:
  --border-warning-on-light:
  --border-danger-on-light:
  
  --bg-1: var(--bg-light-1);
  --bg-2: var(--bg-light-2);
  --bg-3: var(--bg-light-3);
  --ink-1: var(--ink-on-light-1);
  --ink-2: var(--ink-on-light-2);
  --ink-3: var(--ink-on-light-3);
  --border-1: var(--border-on-light-1);
  --border-2: var(--border-on-light-2);
  --border-3: var(--border-on-light-3);
  
  --line-height-base: 1.5;
  --line-height-sm: 1.25;
  
  --type-scale-down-1: .9em;
  --type-scale-base: 1em;
  --type-scale-up-1: 1.25em;
  --type-scale-up-2: 1.5em;
  --type-scale-up-3: 1.8em;
  
  --spacer-base: 1em;
  --spacer-1: calc(var(--spacer-base) * 1.5);
  --spacer-2: calc(var(--spacer-base) * 2);
  --spacer-3: calc(var(--spacer-base) * 3);
  
  --breakpoint-md: 560px;
  --breakpoint-lg: 990px;
}
*/
