// some comment

:root {
  --bg-light-1:
  --bg-light-2:
  --bg-light-3:
  --ink-on-light-1:
  --ink-on-light-2:
  --ink-on-light-3:
  --border-light-1:
  --border-light-2:
  --border-light-3:
  --bg-info-on-light:
  --bg-success-on-light:
  --bg-warning-on-light:
  --bg-danger-on-light:
  --ink-info-on-light:
  --ink-success-on-light:
  --ink-warning-on-light:
  --ink-danger-on-light:
  --border-info-on-light:
  --border-success-on-light:
  --border-warning-on-light:
  --border-danger-on-light:
}
